@charset "UTF-8";

body {
    background-color: #F6F8FF;
    min-height: 100vh;
}

*, *:after, *:before {
    box-sizing: border-box;
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 240px) and (max-width: 1023px) {
    html {
        font-size: 14px;
    }
}

body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}

figure {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
}

figcaption {
    display: block;
    text-align: center;
    font-size: .8rem;
}

.list-title {
    background-color: #263959;
    border-bottom-left-radius: 20px;
    color: #f5f8fe;
    font-weight: 100;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    position: relative;
    padding: 10px 20px;
    margin: 0;
}

.list-title a {
    color: white;
}

.list-title a:hover {
    color: #89c6af;
}

.img-round, .avatar, .avatar-xsmall, .avatar-small, .avatar-medium, .avatar-large, .avatar-xlarge {
    border-radius: 50%;
    max-width: 100%;
}

.forum-list {
    padding: 0;
    background: white;
    margin: 20px 0;
}

.forum-list .forum-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 30px;
}

.forum-list .forum-listing:nth-child(odd) {
    background: rgba(73, 89, 96, 0.06);
    border-bottom-left-radius: 20px;
}

.forum-list .forum-listing:last-child {
    border-bottom-left-radius: 0;
}

.forum-list .forum-listing .forum-details {
    flex-basis: 52%;
}

@media (min-width: 240px) and (max-width: 720px) {
    .forum-list .forum-listing .forum-details {
        flex-basis: 100%;
    }
}

.forum-list .forum-listing .forum-details ul.subforums {
    padding-left: 5px;
    display: block;
}

.forum-list .forum-listing .forum-details ul.subforums::before {
    content: '⌙';
    margin-right: 5px;
}

.forum-list .forum-listing .forum-details ul.subforums.subforums li {
    display: inline;
}

.forum-list .forum-listing .forum-details ul.subforums.subforums li:not(:last-of-type)::after {
    content: '\f111';
    font-family: 'FontAwesome';
    font-size: 4px;
    position: relative;
    top: -3px;
    left: 2px;
    padding: 0 3px;
    color: #878787;
}

.forum-list .forum-listing .threads-count {
    flex-basis: 12%;
    text-align: center;
}

.forum-list .forum-listing .threads-count .count {
    font-weight: 100;
    display: block;
}

.forum-list .forum-listing .last-thread {
    flex-basis: 32%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.forum-list .forum-listing .last-thread .avatar {
    margin-right: 10px;
}

.forum-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.forum-stats ul {
    font-size: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.forum-stats ul li {
    display: flex;
    font-weight: 100;
    margin: 0 20px;
    align-items: center;
}

.forum-stats ul li .fa {
    margin-right: 5px;
}

.forum-stats ul li .fa-comments-o {
    font-size: 26px;
}

.thread-list {
    padding: 0;
    background-color: white;
}

.thread-list .thread {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 20px;
    min-height: 45px;
}

.thread-list .thread:nth-child(odd) {
    background: rgba(73, 89, 96, 0.06);
    border-bottom-left-radius: 20px;
}

.thread-list .thread:last-child {
    border-bottom-left-radius: 0;
}

.thread-list .thread .replies-count {
    flex-basis: 35%;
}

.thread-list .thread .activity {
    flex-basis: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.thread-list .thread .activity .avatar-medium {
    margin-right: 10px;
}

.thread-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reactions {
    display: flex;
    justify-content: flex-end;
    flex: 100%;
    position: relative;
}

.reactions button {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    margin-left: 2px;
    color: #545454;
    border-radius: 5px;
}

.reactions button:hover {
    background: rgba(115, 192, 151, 0.25) !important;
    color: #545454 !important;
}

.reactions button.active-reaction {
    background: rgba(115, 192, 151, 0.12);
}

.reactions button.active-reaction:hover {
    background: white !important;
}

.reactions button .emoji {
    margin-right: 3px;
    font-size: 18px;
}

.reactions button.add-reaction .emoji {
    margin-left: 3px;
    margin-right: 0px;
}

.reactions ul {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: -45px;
    background-color: white !important;
}

.reactions ul li {
    font-size: 28px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    opacity: 0.7;
}

.reactions ul li:hover {
    opacity: 1;
    border-radius: 5px;
    cursor: pointer;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #838486;
}

.pagination button {
    background: #95cbb7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    padding: 0px;
    height: 35px;
    width: 35px;
    font-size: 22px;
}

.pagination button:hover {
    background: #57AD8D;
}

.pagination button:disabled {
    cursor: not-allowed;
}

.pagination button:disabled:hover {
    background: #95cbb7;
}

.pagination button:disabled:active {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.post-list {
    margin-top: 20px;
}

.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    padding: 20px 10px;
    padding-bottom: 7px;
    box-shadow: 2px 2px 1px rgba(136, 136, 136, 0.09);
    margin-bottom: 20px;
}

@media (max-width: 820px) {
    .post {
        padding: 0;
    }
}

.post .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    flex: 1 1 15%;
    margin-right: 5px;
}

.post .user-info > * {
    margin-bottom: 10px;
}

@media (max-width: 820px) {
    .post .user-info {
        order: -2;
        flex-direction: row;
        justify-content: flex-start;
        background: rgba(73, 89, 96, 0.06);
        margin-right: 0;
        padding: 5px;
        padding-left: 10px;
    }

    .post .user-info .avatar-large {
        height: 35px;
        width: 35px;
        margin-right: 5px;
        order: 1;
    }

    .post .user-info .user-name {
        order: 2;
    }

    .post .user-info > * {
        margin-right: 5px;
        margin-bottom: 0;
    }
}

.post .post-date {
    flex-basis: 100%;
    font-size: 14px;
    text-align: right;
    margin-bottom: 5px;
    padding-right: 7px;
}

@media (max-width: 820px) {
    .post .post-date {
        order: -1;
        flex-basis: 40%;
        background: rgba(73, 89, 96, 0.06);
        padding-right: 10px;
        padding-top: 16px;
        margin-bottom: 0px;
    }
}

@media (max-width: 720px) {
    .post {
        padding: 0px;
    }
}

.post-content {
    display: flex;
    flex: 1 0 83%;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    word-break: break-word;
}

.post-content h1, .post-content h2, .post-content h3 {
    margin-bottom: 0;
}

.post-content p {
    margin-bottom: 20px;
}

.post-content pre {
    display: grid;
    overflow: auto;
    word-wrap: break-word;
    border-radius: 3px;
    padding: 10px;
}

.post-content blockquote {
    margin: 25px 0px;
}

.post-content blockquote.big {
    display: flex;
    position: relative;
}

.post-content blockquote.big::before {
    position: absolute;
    top: -25px;
    left: -25px;
    font-size: 42px;
    font-family: FontAwesome;
    content: "\f10e";
    color: #263959;
}

@media (max-width: 820px) {
    .post-content blockquote.big::before {
        top: -15px;
        left: -18px;
        font-size: 32px;
    }
}

.post-content blockquote.big .quote {
    padding-left: 20px;
    padding-right: 15px;
    flex-basis: 95%;
    font-weight: 100;
    font-style: italic;
    font-size: 17px;
}

.post-content blockquote.big .author {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.post-content blockquote.big .author img {
    flex: 1;
    flex-basis: 100%;
    margin-top: 10px;
    width: 80px;
    height: 80px;
}

.post-content blockquote.small {
    display: flex; /* TEST */
    position: relative;
    flex-direction: column;
    border: 2px solid rgba(152, 152, 152, 0.15);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.post-content blockquote.small::before {
    position: absolute;
    top: -20px;
    left: -20px;
    font-size: 42px;
    font-family: FontAwesome;
    content: "\f10e";
    color: #263959;
}

@media (max-width: 820px) {
    .post-content blockquote.small::before {
        top: -18px;
        left: -15px;
        font-size: 32px;
    }
}

.post-content blockquote.small .author {
    display: flex;
    flex-basis: 100%;
    padding: 3px 10px 3px 28px;
    background-color: rgba(152, 152, 152, 0.15);
    justify-content: center;
    align-items: center;
}

.post-content blockquote.small .author .time {
    margin-left: 10px;
}

.post-content blockquote.small .author .fa {
    margin-left: auto;
    font-size: 20px;
}

.post-content blockquote.small .author .fa:hover {
    cursor: pointer;
}

.post-content blockquote.small .quote {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding: 10px;
    font-weight: 100;
    font-style: italic;
    font-size: 17px;
}

.post-content blockquote.simple {
    position: relative;
    padding: 0px 10px 0px 20px;
    font-weight: 100;
    font-style: italic;
    font-size: 17px;
    letter-spacing: .15px;
}

.post-content blockquote.simple::before {
    position: absolute;
    top: -25px;
    left: -25px;
    font-size: 42px;
    font-family: FontAwesome;
    content: "\f10e";
    color: #263959;
}

@media (max-width: 820px) {
    .post-content blockquote.simple::before {
        top: -15px;
        left: -18px;
        font-size: 32px;
    }
}

.post-content blockquote.simple .author {
    display: block;
    margin-top: 10px;
    font-weight: normal;
}

.post-content blockquote.simple .author .time {
    margin-left: 10px;
}

.post-listing-editor {
    flex: 1 1 83%;
}

.profile-card {
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
    background: white;
    box-shadow: 2px 2px 1px rgba(136, 136, 136, 0.09);
    align-self: self-end;
}

@media (min-width: 820px) {
    .profile-card {
        margin-right: 20px;
    }
}

.profile-card .title {
    word-break: break-all;
}

.profile-card .stats {
    display: flex;
    margin: 20px 0px;
}

.profile-card .stats span {
    flex-basis: 50%;
}

.profile-card .user-website {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.profile-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 0px;
}

@media (max-width: 720px) {
    .profile-header {
        flex-wrap: wrap;
    }
}

@media (min-width: 1024px) {
    .activity-list {
        padding: 0px 10px;
    }
}

.activity-list .activity {
    background-color: white;
    padding: 15px 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 1px rgba(136, 136, 136, 0.09);
}

@media (max-width: 720px) {
    .activity-list .activity {
        padding: 10px 15px;
    }

    .activity-list .activity .post-content {
        padding-left: 0;
    }
}

.activity-list .activity .activity-header {
    margin: 0;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
}

.activity-list .activity .activity-header img {
    margin-top: 5px;
    margin-right: 10px;
}

.activity-list .activity .activity-header .title {
    flex-basis: 93%;
    margin: 0;
    padding: 0;
}

@media (max-width: 720px) {
    .activity-list .activity .activity-header .title {
        flex-basis: 100%;
    }
}

.activity-list .activity .activity-header .title span {
    display: block;
    font-weight: 100;
}

.activity-list .activity div.post-content {
    display: block;
    padding-right: 10px;
    margin: 12px 0px;
    word-break: break-word;
}

.activity-list .activity div.post-content p {
    margin-bottom: 12px;
}

.activity-list .activity .thread-details {
    text-align: right;
}

.activity-list .activity .thread-details span:not(:last-of-type) {
    margin-right: 20px;
}

textarea#user_bio {
    resize: vertical;
}

span.offline::before {
    font-family: FontAwesome;
    content: "\f1db";
    font-size: 14px;
    margin-right: 5px;
}

span.online {
    color: #57AD8D;
}

span.online::before {
    font-family: FontAwesome;
    content: "\f2be";
    font-size: 14px;
    margin-right: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #263959;
    height: 80px;
    padding: 0 20px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .header {
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        height: 60px;
    }
}

.logo {
    float: left;
    padding-top: 5px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .logo {
        padding-top: 10px;
    }
}

.svg-logo {
    height: 62px;
    width: 56px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .svg-logo {
        height: 45px;
        width: 40px;
    }
}

@media (min-width: 240px) and (max-width: 400px) {
    .svg-logo {
        height: 40px;
        width: 35px;
    }
}

.wrap-right {
    float: right;
    padding: 10px 10px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .wrap-right {
        padding: 16px 0;
    }
}

.text-faded, .forum-stats ul li, .thread-list .thread .created_at, .post-content blockquote.big .author span.time, .post-content blockquote.small .author .time, .post-content blockquote.simple .author, .activity-list .activity .activity-header .title span, .activity-list .activity .thread-details, span.offline {
    color: rgba(84, 84, 84, 0.7);
}

h1 {
    font-size: 32px;
}

@media (min-width: 240px) and (max-width: 720px) {
    h1 {
        font-size: 24px;
    }
}

h2 {
    font-size: 28px;
}

@media (min-width: 240px) and (max-width: 720px) {
    h2 {
        font-size: 20px;
    }
}

.text-lead, .forum-list .forum-listing .threads-count .count, .profile-card .stats span, .modal-container .modal .modal-header .title {
    font-size: 26px;
    line-height: 1.5;
    font-weight: 300;
}

@media (min-width: 240px) and (max-width: 720px) {
    .text-lead, .forum-list .forum-listing .threads-count .count, .profile-card .stats span, .modal-container .modal .modal-header .title {
        font-size: 22px;
    }
}

.text, p, .text-xsmall, .thread-list .thread .created_at, .pagination, .post-content blockquote.small .author .time, .post-content blockquote.simple .author .time, .activity-list .activity .thread-details, span.offline, span.online, .btn-xsmall, .btn-brown, ul.breadcrumbs li:not(:last-of-type)::after, .text-small, .forum-list .forum-listing .forum-details ul.subforums, .post-content blockquote.big .author, .post-content blockquote.small .author a, .post-content blockquote.simple .author, .activity-list .activity .activity-header .title span, .btn-small, ul.breadcrumbs li, .text-large, .list-title, .forum-stats ul li, .profile-card .user-website, .activity-list .activity .activity-header .title, .btn-large, .text-xlarge, .btn-xlarge, .btn, .btn-blue, .btn-blue-outlined, .btn-brown-outlined, .btn-green, .btn-green-outlined, .btn-red, .btn-red-outlined, .btn-ghost {
    font-size: 16px;
    line-height: 1.5;
}

@media (min-width: 240px) and (max-width: 720px) {
    .text, p, .text-xsmall, .thread-list .thread .created_at, .pagination, .post-content blockquote.small .author .time, .post-content blockquote.simple .author .time, .activity-list .activity .thread-details, span.offline, span.online, .btn-xsmall, .btn-brown, ul.breadcrumbs li:not(:last-of-type)::after, .text-small, .forum-list .forum-listing .forum-details ul.subforums, .post-content blockquote.big .author, .post-content blockquote.small .author a, .post-content blockquote.simple .author, .activity-list .activity .activity-header .title span, .btn-small, ul.breadcrumbs li, .text-large, .list-title, .forum-stats ul li, .profile-card .user-website, .activity-list .activity .activity-header .title, .btn-large, .text-xlarge, .btn-xlarge, .btn, .btn-blue, .btn-blue-outlined, .btn-brown-outlined, .btn-green, .btn-green-outlined, .btn-red, .btn-red-outlined, .btn-ghost {
        font-size: 15px;
    }
}

.text-xsmall, .thread-list .thread .created_at, .pagination, .post-content blockquote.small .author .time, .post-content blockquote.simple .author .time, .activity-list .activity .thread-details, span.offline, span.online, .btn-xsmall, .btn-brown, ul.breadcrumbs li:not(:last-of-type)::after {
    font-size: 13px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .text-xsmall, .thread-list .thread .created_at, .pagination, .post-content blockquote.small .author .time, .post-content blockquote.simple .author .time, .activity-list .activity .thread-details, span.offline, span.online, .btn-xsmall, .btn-brown, ul.breadcrumbs li:not(:last-of-type)::after {
        font-size: 12px;
    }
}

.text-small, .forum-list .forum-listing .forum-details ul.subforums, .post-content blockquote.big .author, .post-content blockquote.small .author a, .post-content blockquote.simple .author, .activity-list .activity .activity-header .title span, .btn-small, ul.breadcrumbs li {
    font-size: 15px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .text-small, .forum-list .forum-listing .forum-details ul.subforums, .post-content blockquote.big .author, .post-content blockquote.small .author a, .post-content blockquote.simple .author, .activity-list .activity .activity-header .title span, .btn-small, ul.breadcrumbs li {
        font-size: 14px;
    }
}

.text-large, .list-title, .forum-stats ul li, .profile-card .user-website, .activity-list .activity .activity-header .title, .btn-large {
    font-size: 18px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .text-large, .list-title, .forum-stats ul li, .profile-card .user-website, .activity-list .activity .activity-header .title, .btn-large {
        font-size: 17px;
    }
}

.text-xlarge, .btn-xlarge {
    font-size: 22px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .text-xlarge, .btn-xlarge {
        font-size: 20px;
    }
}

.text-bold, .activity-list .activity .activity-header .title {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-line-through {
    text-decoration: line-through;
}

.text-center, .profile-card .stats span, .profile-card .user-website {
    text-align: center;
}

.text-left, .activity-list .activity .activity-header .title {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.navbar-item, .navbar-mobile-item {
    display: inline-block;
    border-right: 1px solid #3c4d6a;
    vertical-align: middle;
}

ul .navbar-item:last-child, ul .navbar-mobile-item:last-child {
    border-right: none;
}

.navbar-item a, .navbar-mobile-item a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: all .6s ease;
    font-size: 18px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .navbar-item a, .navbar-mobile-item a {
        padding: 10px 0px;
    }
}

.navbar-item a:hover, .navbar-mobile-item a:hover {
    color: #57AD8D;
}

.navbar-item a:active, .navbar-mobile-item a:active {
    color: #57AD8D;
}

@media (min-width: 240px) and (max-width: 720px) {
    .navbar-item, .navbar-mobile-item {
        display: block;
        border: none;
        margin: 20px 0;
    }
}

@media (min-width: 240px) and (max-width: 720px) {
    .navbar {
        display: none;
        position: absolute;
        z-index: 10;
        padding: 10px 10px 10px;
        background: #263959;
        width: 100%;
        left: 0;
        top: 60px;
    }
}

@media (min-width: 240px) and (max-width: 720px) {
    .navbar-open {
        display: flex;
        transition: all 0.6s ease;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .navbar-open .navbar-item, .navbar-open .navbar-mobile-item {
        margin: 6px 0;
    }

    .navbar-open ul {
        flex: 1;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 20px;
    }
}

.signs .navbar-item, .signs .navbar-mobile-item {
    border-right: none;
}

.a-active {
    color: #57AD8D;
}

.icon-profile {
    width: 10px;
    height: 8px;
}

.navbar-user {
    margin-left: auto;
}

.navbar-user a {
    display: flex;
    align-items: center;
    color: white;
}

.navbar-user a:hover .icon-profile {
    transition: all .4s ease;
    transform: rotate(-180deg);
}

.navbar-user img {
    margin-right: 10px;
}

.btn-hamburger {
    cursor: pointer;
    height: 30px;
    width: 30px;
    float: right;
    position: relative;
    margin-left: 20px;
    display: none;
}

.btn-hamburger .top {
    top: 7px;
}

.btn-hamburger .middle {
    top: 16px;
}

.btn-hamburger .bottom {
    top: 26px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .btn-hamburger {
        display: block;
    }
}

.bar {
    width: 30px;
    height: 4px;
    background: white;
    position: absolute;
    border-radius: 10px;
    transition: all 0.5s;
}

.btn-hamburger-active .top {
    top: 16px;
}

.btn-hamburger-active .middle {
    opacity: 0;
    overflow: hidden;
}

.btn-hamburger-active .bottom {
    top: 16px;
}

header > a.logo {
    width: 50px;
}

@media (min-width: 240px) and (max-width: 720px) {
    header > a.logo {
        width: 35px;
    }
}

.title {
    font-size: 38px;
    text-align: center;
}

@media (min-width: 1360px) {
    .title {
        font-size: 46px;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    .title {
        font-size: 32px;
    }
}

@media (min-width: 720px) and (max-width: 820px) {
    .title {
        font-size: 30px;
    }
}

@media (min-width: 240px) and (max-width: 720px) {
    .title {
        font-size: 30px;
    }
}

.title-white {
    color: white;
}

.title-banner {
    color: white;
    text-transform: uppercase;
}

.subtitle {
    font-size: 26px;
}

@media (min-width: 600px) and (max-width: 1023px) {
    .subtitle {
        font-size: 22px;
    }
}

@media (min-width: 240px) and (max-width: 720px) {
    .subtitle {
        font-size: 20px;
    }
}

@media (min-width: 240px) and (max-width: 400px) {
    .subtitle {
        font-size: 18px;
    }
}

#user-dropdown {
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 6;
    display: none;
}

@media (min-width: 240px) and (max-width: 720px) {
    #user-dropdown {
        position: relative;
        width: 100%;
        right: 0;
        z-index: 10;
        top: 98px;
    }
}

#user-dropdown.active-drop {
    display: block;
}

.active-drop {
    display: block;
}

.dropdown-menu, #user-dropdown > .dropdown-menu {
    display: block;
    background: white;
    padding: 20px;
    position: relative;
}

.dropdown-menu-item, #user-dropdown > .dropdown-menu > .dropdown-menu-item {
    margin-bottom: 5px;
}

.dropdown-menu-item a, #user-dropdown > .dropdown-menu > .dropdown-menu-item a {
    display: block;
    color: #57AD8D;
    font-size: 16px;
    transition: all ease 0.6s;
}

.dropdown-menu-item a:hover, #user-dropdown > .dropdown-menu > .dropdown-menu-item a:hover {
    color: #41826a;
}

.triangle-drop {
    border-bottom: solid 8px white;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    display: inline-block;
    margin: 0;
    position: relative;
    left: 70%;
    vertical-align: middle;
    bottom: -8px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .triangle-drop {
        left: 5%;
    }
}

#user-dropdown a {
    color: #57AD8D;
    text-decoration: none;
    transition: all .6s ease;
}

#user-dropdown a:hover {
    color: #41826a;
    cursor: pointer;
}

#user-dropdown ul {
    display: block;
}

.mentionsList {
    position: absolute;
    width: 160px;
    z-index: 2;
    background-color: #263959;
    box-shadow: 2px 2px 1px rgba(136, 136, 136, 0.09);
    color: white;
}

.mentionsList li {
    padding: 6px;
    display: flex;
    align-items: center;
}

.mentionsList li img {
    margin-right: 2px;
}

.mentionsList li:hover {
    cursor: pointer;
    background-color: #57AD8D;
}

.mentionsList li:not(:last-of-type) {
    margin-bottom: 3px;
}

.mentionsList::before {
    border-bottom: solid 8px #263959;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    content: "";
    display: inline-block;
    left: 52px;
    position: absolute;
    top: -8px;
}

.mentionsList .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

input {
    box-shadow: none;
}

form {
    margin: 0;
}

.form-input {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font: inherit;
    padding: 5px 10px;
    transition: all 0.3s ease;
    width: 100%;
    color: #505050;
    background-color: #fdfdfd;
    min-height: 43px;
}

.form-input:disabled {
    cursor: no-drop;
    background: #F5F8FE;
    color: #bbbbbb;
}

.form-input:disabled::placeholder {
    color: #bbbbbb;
}

.form-input::placeholder {
    font-size: inherit;
    font-weight: 300;
    color: #878787;
}

.form-input:focus {
    outline: none;
    border: 1px solid #c7c7c7;
    color: #434343;
    background-color: white;
}

.form-input:invalid {
    border-color: #C82543;
}

.form-input:invalid ~ .form-error {
    display: block;
}

@media (min-width: 240px) and (max-width: 400px) {
    .form-input {
        padding-left: 10px;
        height: 50px;
    }
}

textarea.form-input {
    padding-top: 7px;
    padding-right: 2px;
    padding-bottom: 0px;
    min-height: 110px;
}

.input-error {
    border-color: #C82543;
}

.input-error ~ .form-error {
    display: block;
}

.form-error {
    background: #f4d3d9;
    color: #C82543;
    font-size: 0.8em;
    float: left;
    border-radius: 100px;
    padding: 6px 20px;
    margin-top: 10px;
}

@media (min-width: 240px) and (max-width: 400px) {
    .form-error {
        width: 100%;
    }
}

.form-group {
    margin-bottom: 12px;
    width: 100%;
    display: inline-block;
}

.form-label, .form-group > label {
    margin-bottom: 5px;
    display: inline-block;
    color: #767676;
}

.form-label-password, .form-group > label-password {
    margin-bottom: 0px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .form-btn {
        width: 100%;
    }
}

input[type="submit"],
button {
    -webkit-appearance: none;
    font-size: 18px;
    cursor: pointer;
}

button {
    -webkit-appearance: none;
}

button a {
    color: white;
}

.form-2cols {
    display: flex;
    flex-wrap: wrap;
}

.form-2cols .form-group {
    flex-basis: 47%;
}

.form-2cols .form-group:nth-child(odd) {
    margin-right: 10px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .form-2cols .form-group {
        flex-basis: 100%;
        margin-right: 0;
    }
}

button {
    border: none;
    background: transparent;
    appearance: none;
}

.btn, .btn-blue, .btn-blue-outlined, .btn-brown, .btn-brown-outlined, .btn-green, .btn-green-outlined, .btn-red, .btn-red-outlined, .btn-ghost {
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    display: inline-block;
    outline: 0;
    transition: all 0.4s ease;
}

@media (min-width: 240px) and (max-width: 720px) {
    .btn, .btn-blue, .btn-blue-outlined, .btn-brown, .btn-brown-outlined, .btn-green, .btn-green-outlined, .btn-red, .btn-red-outlined, .btn-ghost {
        padding: 10px 20px;
    }
}

.btn:disabled, .btn-blue:disabled, .btn-blue-outlined:disabled, .btn-brown:disabled, .btn-brown-outlined:disabled, .btn-green:disabled, .btn-green-outlined:disabled, .btn-red:disabled, .btn-red-outlined:disabled, .btn-ghost:disabled, .btn-disabled {
    cursor: default;
}

.btn:disabled:hover, .btn-blue:disabled:hover, .btn-blue-outlined:disabled:hover, .btn-brown:disabled:hover, .btn-brown-outlined:disabled:hover, .btn-green:disabled:hover, .btn-green-outlined:disabled:hover, .btn-red:disabled:hover, .btn-red-outlined:disabled:hover, .btn-ghost:disabled:hover, .btn-disabled:hover {
    cursor: default;
    color: white;
}

.btn-block {
    width: 100%;
}

.btn-xsmall {
    padding: 6px 15px;
}

.btn-small {
    padding: 10px 20px;
}

.btn-large {
    padding: 20px 40px;
}

.btn-xlarge {
    padding: 20px 60px;
}

.btn-circle {
    height: 60px;
    width: 60px;
    background: #C82543;
    border-radius: 50%;
    transition: all ease 0.4s;
    padding: 0px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

.btn-circle:hover {
    background: #b4213c;
}

.btn-circle:hover .icon-arrow-up {
    transition: all ease 0.4s;
    transform: translateY(-2px);
}

.btn-circle:hover .icon-arrow {
    transition: all ease 0.4s;
    transform: translateX(2px);
}

.btn-circle:hover .icon-arrow-left {
    transition: all ease 0.4s;
    transform: translateX(-2px) rotate(180deg);
}

.btn-circle-default {
    background: #878787;
}

.btn-circle-default:hover {
    background: #4c4c4c;
}

@media (min-width: 240px) and (max-width: 720px) {
    .btn-circle {
        height: 45px;
        width: 45px;
        padding-top: 14px;
    }
}

.btn-blue {
    color: white;
    background: #263959;
}

.btn-blue:hover:not(:disabled):not(.btn-disabled) {
    color: white;
    background: #1d2b43;
}

.btn-blue-outlined {
    color: #263959;
    box-shadow: inset 0px 0px 0px 1.6px #263959;
}

.btn-blue-outlined:hover {
    color: white;
    background: #263959;
}

.btn-brown {
    color: white;
    background: #bf9268;
}

.btn-brown:hover:not(:disabled):not(.btn-disabled) {
    color: white;
    background: #8f6e4e;
}

.btn-brown-outlined {
    color: #bf9268;
    box-shadow: inset 0px 0px 0px 1.6px #bf9268;
}

.btn-brown-outlined:hover {
    color: white;
    background: #bf9268;
}

.btn-green {
    color: white;
    background: #57AD8D;
}

.btn-green:hover:not(:disabled):not(.btn-disabled) {
    color: white;
    background: #4e9c7f;
}

.btn-green-outlined {
    color: #57AD8D;
    box-shadow: inset 0px 0px 0px 1.6px #57AD8D;
}

.btn-green-outlined:hover {
    color: white;
    background: #57AD8D;
}

.btn-red {
    color: white;
    background: #C82543;
}

.btn-red:hover:not(:disabled):not(.btn-disabled) {
    color: white;
    background: #b4213c;
}

.btn-red-outlined {
    color: #C82543;
    box-shadow: inset 0px 0px 0px 1.6px #C82543;
}

.btn-red-outlined:hover {
    color: white;
    background: #C82543;
}

.btn-green {
    color: white;
    background: #57AD8D;
}

.btn-green:hover:not(:disabled):not(.btn-disabled) {
    color: white;
    background: #4e9c7f;
}

.btn-red {
    color: white;
    background: #C82543;
}

.btn-red:hover:not(:disabled):not(.btn-disabled) {
    color: white;
    background: #b4213c;
}

.btn-ghost {
    flex-grow: 0;
}

.btn-ghost:hover:not(:disabled):not(.btn-disabled) {
    color: white;
    background-color: rgba(152, 152, 152, 0.31);
}

.btn-up {
    height: 40px;
    width: 40px;
    padding-top: 10px;
    text-align: center;
}

.btn-input {
    height: 52px;
    line-height: 48px;
    position: absolute;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    padding: 0 25px;
    right: 4px;
    top: 4px;
    transition: background 0.15s ease;
    z-index: 10;
}

@media (min-width: 240px) and (max-width: 720px) {
    .btn-input {
        position: static;
        margin-top: 10px;
        width: 100%;
    }
}

.btn-social {
    margin-right: 6px;
}

.btn-social svg {
    height: 40px;
    width: 40px;
    transition: all ease 0.6s;
    transform: rotate(0);
}

.btn-social svg:hover {
    transform: rotate(-40deg);
}

.icon-arrow-up {
    width: 12px;
    height: 18px;
    transform: translate(0, 0);
}

.icon-arrow {
    height: 21px;
    transform: translate(0, 0);
    width: 28px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .icon-arrow {
        height: 14px;
        width: 21px;
    }
}

.icon-arrow-left {
    width: 28px;
    height: 21px;
    transform: translate(0, 0);
    transform: rotate(180deg);
}

@media (min-width: 240px) and (max-width: 720px) {
    .icon-arrow-left {
        height: 14px;
        width: 21px;
    }
}

.link {
    color: #57AD8D;
    text-decoration: underline;
    transition: all ease 0.4s;
}

.link:hover {
    color: #468a71;
}

button {
    outline: 0;
}

.form-actions, .btn-group {
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-actions > *:not(:last-child), .btn-group > *:not(:last-child) {
    margin-right: 10px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .form-actions, .btn-group {
        flex-wrap: wrap;
    }

    .form-actions > *:not(.btn-ghost), .btn-group > *:not(.btn-ghost) {
        flex: 1 1;
        margin-bottom: 5px;
    }
}

.space-between {
    justify-content: space-between;
}

.alert {
    width: 100%;
    padding: 10px 20px;
    color: white;
    opacity: 0.8;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.alert-error {
    background: #C82543;
}

.alert-success {
    background: #57AD8D;
}

.alert-info {
    background: #51617a;
}

@media (min-width: 240px) and (max-width: 720px) {
    .alert {
        padding: 10px;
    }
}

.close {
    color: white;
    background: transparent;
    border: none;
}

@media (min-width: 240px) and (max-width: 720px) {
    .close {
        align-self: flex-start;
        margin-top: 4px;
    }
}

.close-icon {
    stroke: #fff;
    height: 12px;
    width: 12px;
}

.avatar {
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
}

.avatar-xsmall {
    width: 25px;
    max-width: 25px;
    height: 25px;
    max-height: 25px;
}

.avatar-small {
    width: 35px;
    max-width: 35px;
    height: 35px;
    max-height: 35px;
}

.avatar-medium {
    width: 35px;
    max-width: 35px;
    height: 35px;
    max-height: 35px;
}

.avatar-large {
    width: 95px;
    max-width: 95px;
    height: 95px;
    max-height: 95px;
}

.avatar-xlarge {
    width: 200px;
    max-width: 200px;
    height: 200px;
    max-height: 200px;
}

.card {
    background: white;
    margin-top: 20px;
}

@media (min-width: 240px) and (max-width: 720px) {
    .card {
        margin-bottom: 20px;
    }
}

.card-form {
    padding: 40px 60px;
    position: relative;
    z-index: 1;
    margin-top: 40px;
}

@media (min-width: 1360px) {
    .card-form {
        padding: 60px;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    .card-form {
        padding: 40px;
    }
}

@media (min-width: 240px) and (max-width: 720px) {
    .card-form {
        padding: 40px 20px;
        margin-top: 10px;
    }
}

.striped {
    background: white;
    box-shadow: 1px 1px 1px #f1f1f1;
}

.striped li {
    padding: 10px 5px 10px 12px;
    box-shadow: 0 1px rgba(73, 89, 96, 0.06);
}

.striped li:nth-child(even) {
    background: rgba(73, 89, 96, 0.06);
}

.sidebar {
    display: none;
}

@media (min-width: 1024px) {
    .sidebar {
        display: flex;
        flex-basis: 29%;
        margin: 0 0.5%;
        margin-top: 118px;
        flex-direction: column;
    }

    .sidebar .widget {
        background: white;
        margin-bottom: 10px;
    }
}

.sidebar ul > li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sidebar ul > li > span {
    flex-basis: 85%;
}

.sidebar .unanswered-threads-list {
    margin-top: 10px;
}

ul.breadcrumbs {
    list-style: none;
    overflow: auto;
    font-size: 0;
}

ul.breadcrumbs li {
    display: inline-block;
    padding: 5px 0px;
    font-weight: 100;
}

ul.breadcrumbs li:not(:last-of-type)::after {
    content: '\f105';
    font-family: FontAwesome;
    margin: 0px 4px;
    opacity: 0.6;
}

ul.breadcrumbs li a {
    color: #57AD8D;
    text-decoration: none;
    opacity: 0.7;
}

ul.breadcrumbs li a:hover {
    opacity: 1;
}

#moderation {
    display: flex;
}

#moderation.justify-right {
    margin-right: 20px;
}

@media (min-width: 240px) and (max-width: 720px) {
    #moderation.justify-right {
        margin: 0;
    }
}

#moderation ul.toolbar {
    z-index: 99;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 20px;
    box-shadow: 0px 0px 300px #ADADAD;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #313131;
}

#moderation ul.toolbar li {
    margin: 10px 0;
}

#moderation ul.toolbar li.close-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#moderation ul.toolbar li.close-toolbar .fa {
    font-size: 30px;
}

#moderation ul.toolbar li.close-toolbar a {
    padding: 0 10px;
}

#moderation ul.toolbar.open-toolbar {
    display: none;
}

#moderation ul.toolbar:not(:last-of-type) {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

#moderation ul.toolbar a {
    display: inline-block;
    color: white;
    line-height: 1.5;
    padding: 5px 20px 5px 10px;
}

#moderation ul.toolbar a:hover .fa {
    opacity: 1;
}

#moderation ul.toolbar a .fa {
    opacity: 0.5;
    margin: 0px 8px;
}

#moderation ul.toolbar a:focus {
    outline: none;
}

@media (min-width: 240px) and (max-width: 720px) {
    #moderation ul.toolbar {
        position: fixed;
        bottom: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    #moderation ul.toolbar li {
        flex-basis: 100%;
        margin: 0;
        text-align: center;
        border-right: none !important;
    }

    #moderation ul.toolbar li a {
        display: block;
        border: none;
        font-size: 18px;
        padding: 7px 0;
    }

    #moderation ul.toolbar li.close-toolbar .fa::before {
        content: '\f107';
        font-family: FontAwesome;
    }
}

#moderation ul.toolbar-collapsed {
    opacity: 0.6;
}

#moderation ul.toolbar-collapsed:hover {
    opacity: 1;
}

#moderation ul.toolbar-collapsed li, #moderation ul.toolbar-collapsed li.close-toolbar {
    display: none;
}

#moderation ul.toolbar-collapsed li.open-toolbar {
    display: inline-block;
    border: none;
}

#moderation ul.toolbar-collapsed li.open-toolbar a {
    padding: 0 10px 0 0;
}

@media (min-width: 240px) and (max-width: 720px) {
    #moderation ul.toolbar-collapsed {
        border-radius: 0;
    }

    #moderation ul.toolbar-collapsed li.open-toolbar {
        display: inline-block;
        border: none;
    }

    #moderation ul.toolbar-collapsed li.open-toolbar a {
        padding: 0;
        font-size: 0;
        line-height: 0.95;
    }

    #moderation ul.toolbar-collapsed li.open-toolbar a .fa {
        margin: 0;
    }

    #moderation ul.toolbar-collapsed li.open-toolbar a::before {
        content: '\f106';
        font-family: FontAwesome;
        font-size: 30px;
    }
}

@media (min-width: 240px) and (max-width: 720px) {
    body {
        padding-bottom: 20px;
    }
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
}

.modal-container .modal {
    display: flex;
    flex-wrap: wrap;
    z-index: 200;
    position: fixed;
    top: 10vh;
    width: 50vw;
    max-width: 550px;
    min-height: 25vh;
    background: #F5F8FE;
    background: #fcfdff;
    background-color: white;
    border-radius: 8px;
}

@media screen and (min-width: 240px) and (max-width: 900px) {
    .modal-container .modal {
        top: 5vh;
        width: 95vw;
        min-height: 40vh;
    }
}

.modal-container .modal hr {
    margin: 5px;
}

.modal-container .modal .btn-group {
    margin: 0;
    padding: 0;
}

.modal-container .modal .modal-header, .modal-container .modal .modal-footer {
    padding: 15px;
    flex-basis: 100%;
}

.modal-container .modal .modal-header {
    border-bottom: 3px solid rgba(73, 89, 96, 0.06);
}

.modal-container .modal .modal-header .title {
    font-size: 32px;
}

.modal-container .modal .modal-content {
    padding: 10px 30px;
    min-height: 200px;
}

.modal-container .modal .modal-footer {
    background: rgba(73, 89, 96, 0.06);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

a.close {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #263959;
    font-size: 22px;
    opacity: .7;
}

a.close:hover {
    opacity: 1;
    color: #263959;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #545454;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    box-sizing: border-box;
}

@media (min-width: 240px) and (max-width: 720px) {
    body {
        font-size: 15px;
    }
}

body a {
    color: #57AD8D;
    text-decoration: none;
    transition: all .6s ease;
}

body a:hover {
    color: #41826a;
    cursor: pointer;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
}

p {
    margin: 0;
}

figure {
    margin: 0;
}

.flex-column {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    flex-direction: column;
}

@media (min-width: 1360px) {
    .flex-column {
        max-width: 1300px;
    }
}

.flex-grid {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    flex-grow: 1;
    flex-wrap: wrap;
}

@media (min-width: 1360px) {
    .flex-grid {
        max-width: 1300px;
    }
}

.flex-reverse {
    flex-direction: row-reverse;
}

.align-center {
    align-items: center;
}

.col {
    margin: 0 1%;
}

@media (min-width: 240px) and (max-width: 720px) {
    .col {
        margin: 0 4%;
    }
}

.col-70 {
    flex-basis: 70%;
    margin: 0 auto;
}

@media (min-width: 1360px) {
    .col-70 {
        flex-basis: 70%;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    .col-70 {
        flex-basis: 80%;
    }
}

@media (min-width: 240px) and (max-width: 720px) {
    .col-70 {
        flex-basis: 96%;
        margin: 0 4%;
    }
}

.col-2 {
    box-sizing: border-box;
    flex-basis: 48%;
}

@media (min-width: 240px) and (max-width: 720px) {
    .col-2 {
        flex-basis: 96%;
    }
}

.col-3 {
    flex-basis: 31%;
}

@media (min-width: 600px) and (max-width: 1023px) {
    .col-3 {
        flex-basis: 96%;
        margin: 4% 2%;
    }
}

@media (min-width: 240px) and (max-width: 720px) {
    .col-3 {
        flex-basis: 96%;
        margin: 4% 4%;
    }
}

.col-4 {
    flex-basis: 23%;
}

@media (min-width: 240px) and (max-width: 720px) {
    .col-4 {
        flex-basis: 46%;
    }
}

.col-5 {
    flex-basis: 18%;
}

@media (min-width: 240px) and (max-width: 720px) {
    .col-5 {
        flex-basis: 46%;
    }
}

.col-7 {
    flex-basis: 68%;
}

@media (min-width: 600px) and (max-width: 1023px) {
    .col-7 {
        flex-basis: 96%;
        margin: 4% 2%;
    }
}

@media (min-width: 240px) and (max-width: 720px) {
    .col-7 {
        flex-basis: 96%;
        margin: 4% 4%;
    }
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 240px) and (max-width: 720px) {
    .container {
        width: 96%;
    }
}

.col-full {
    flex-basis: 98%;
    margin: 0 1%;
}

@media (max-width: 820px) {
    .col-full {
        flex-basis: 98%;
        margin: 0 1%;
    }
}

.col-large {
    flex-basis: 72%;
    margin: 0 1%;
}

@media (max-width: 1024px) {
    .col-large {
        flex-basis: 98%;
        margin: 0 1%;
    }
}

.col-small {
    flex-basis: 24%;
    margin: 0 1%;
}

@media (min-width: 240px) and (max-width: 720px) {
    .col-small {
        flex-basis: 98%;
        margin: 0 1%;
    }
}

.align-center {
    align-items: center;
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

@media (max-width: 820px) {
    .desktop-only, .forum-list .forum-listing .threads-count, .forum-list .forum-listing .last-thread, .forum-stats, .thread-list .thread .activity, .navbar-user {
        display: none;
    }
}

@media (min-width: 820px) {
    .mobile-only, .navbar-mobile-item {
        display: none;
    }
}

@media (max-width: 720px) {
    .hide-mobile {
        display: none;
    }
}

@media (min-width: 720px) and (max-width: 820px) {
    .hide-tablet {
        display: none;
    }
}

@media (max-width: 720px) {
    .hide-desktop {
        display: none;
    }
}

section {
    margin-top: 20px;
}

.push-top {
    margin-top: 20px;
}

.no-margin {
    margin: 0 !important;
}

.link-white {
    color: white;
}

.link-unstyled, ul.breadcrumbs li a {
    color: inherit;
}

.faded, .btn:disabled, .btn-blue:disabled, .btn-blue-outlined:disabled, .btn-brown:disabled, .btn-brown-outlined:disabled, .btn-green:disabled, .btn-green-outlined:disabled, .btn-red:disabled, .btn-red-outlined:disabled, .btn-ghost:disabled, .btn-disabled, a > img:hover {
    opacity: 0.8;
}

a > img {
    transition: all .6s ease;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #F7F9FE, #D1D3D7, #F7F9FE);
    margin-bottom: 20px;
}

.fa-btn {
    padding-right: 3px;
}

#app {
    background: #F5F8FE;
    min-height: 100vh;
}