<template>
    <div class="col-full">
        <h1>Page not found.</h1>
        <p>Oops, we coudn't find what you are looking for. Why don't you 
            <router-link :to="{name:'Home'}">
                go home instead?
            </router-link>
        </p>    
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
h1 {
    font-size: 60px;
}
p {
    font-size: 20px;
    font-weight: 100;
}
div {
    text-align: center;
}
</style>