<template>
  <div class="coll-large push-top">
    <router-link :to="{name:'Home'}">
      <h1>{{thread.text}}</h1>
    </router-link>
    <p>
      Von <a href="#" class="link-unstyled">Username</a> <AppDate :timestamp="thread.published"/>
      <span style="float:right; margin-top: 2px;" class="hide-mobile text-faded text-small">3 Antw. von 3 Jodlern</span>
    </p>
    <PostList :posts="posts"/>
    <PostEditor
      :threadID="id"
    />
  </div>
</template>

<script>
    import PostList from "@/components/PostList"
    import PostEditor from "@/components/PostEditor"
    export default {
        components:{
          PostList,
          PostEditor
        },

        props: {
            id: {
                required: true,
                type: String
            }
        },

        data () {
            return {
                thread: this.$store.state.threads[this.id],
                newPostText: ''
            }
        },

        computed: {
          posts () {
            const postIDs = Object.values(this.thread.posts)
            return Object.values(this.$store.state.posts)
              .filter(post => postIDs.includes(post['.key']))
          }
        }
    }
</script>

<style >
h1{
  color: white;
}
</style>