<template>
  <div class="col-full">
    <h1>Welcome to the Jodl Club</h1>
    <ThreadList :threads="threads"/>
  </div>
</template>

<script>
import ThreadList from "@/components/ThreadList"
export default {
  components:{
    ThreadList
  },

  data () {
    return {
      threads: Object.values(this.$store.state.threads),
      posts: this.$store.state.posts,
      users: this.$store.state.users
    }
  }
};
</script>

<style scoped>
h1{
  color: white;
}
</style>