<template>
    <span :title="timestamp | humenFriendlyDate">
        {{timestamp | diffFromHumen}}
    </span>
</template>

<script>
    import moment from "moment"
    export default {
        props: {
            timestamp: {
                required: true//,
                //type: Number
            } 
        },

        filters:{
            diffFromHumen (date) {
                return moment.unix(parseInt(date)).locale('de').startOf('minute').fromNow();
            },
            humenFriendlyDate (date) {
                return moment.unix(parseInt(date)).locale('de').format('MMMM Do YYYY, h:mm:ss a'); 
            }
        }
        
    }
</script>