<template>
    <div class="post">
        <div class="user-info">
            <a href="#" class="user-name">{{user.name}}</a>
            <p class="desktop-only text-small">{{userPostCount}} Kommentare</p>
        </div>

        <div class="post-content">
            <div>
                <p> 
                    {{post.text}} 
                </p>
            </div>
        </div>
        <div class="post-date text-faded">
            <AppDate :timestamp="post.published"/>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            post: {
                required: true,
                type: Object
            }
        },

        computed: {
            user () {
                return this.$store.state.users[this.post.userID]
            },

            userPostCount () {
                return Object.keys(this.user.posts).length
            }
        },
    }
</script>

<style scoped>

</style>