<template>
    <div id="nav" class="nav">
      <router-link to="/Newest" class="spec">Brandneu</router-link> |
      <router-link to="/MostLiked" class="spec">Meist gemocht</router-link> |
      <router-link to="/MostComments" class="spec">Diskussion</router-link>
    </div>
</template>

<script>
export default {
  
}
</script>

<style>
.nav {
    text-align: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.spec {
    color:white;
}
</style>