<template>
    <div class="thread">
        <div>
            <p>
                <router-link :to="{name: 'ThreadShow', params: {id: thread['.key']}}">
                    {{thread.text}}
                </router-link> <!-- kein reload! -->
            </p>
            <p class="text-faded text-xsmall">
                By <a href="#">{{user.name}}</a>, <AppDate :timestamp="thread.published"/>
            </p>
        </div>

        <div class="activity">
            <p class="replies-count">
                {{repliesCount}} Antworten
            </p>

            <!--<div>
                <p class="text-xsmall">
                    <a href="#">Bruce Wayne</a>
                </p>
                <p class="text-xsmall text-faded">2 hours ago</p>
            </div>-->
        </div>
    </div>       
</template>

<script>
    export default {
        props: {
            thread: {
                required: true,
                type: Object
            }
        },

        computed: {
            repliesCount () {
                return Object.keys(this.thread.posts).length
            },
            user () {
                return this.$store.state.users[this.thread.userID]
            }
        }
    }
</script>