<template>
  <div id="app">
    <TheNavbar/>
    <div class="container">
      <router-view />
    </div>
  </div>
</template>

<script>
  import TheNavbar from "@/components/TheNavbar"
  export default {
    components: {
      TheNavbar  
    }
  }
</script>

<style scoped>
 @import "assets/css/style.css";

#app {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

</style>
